<template>
<div>
    <div id="yyy">GUGA</div>
    <H1>GOga hhhhhh tyutyty</H1>
    <br>
    yyyyyyyyyyyyyy6
    <button ></button>
</div>

</template>

<script lang="ts">

    import {Vue,Component} from 'vue-property-decorator';
//    import Component from 'vue-property-decorator';
//    import Prop  from 'vue-property-decorator';
    import { hello }   from './hello';


    @Component({ created(){ alert('aaa');} })
    export default class App extends Vue
    {
//        name: "App.vue"

        
    }


</script>

<style scoped>
 div.aaa
 {
     color: aquamarine;
 }
</style>