<template>
    <div>MUMA</div>
</template>


<script>
import { Vue, Component, Prop } from "vue-property-decorator";


// jhjhjhjhsfdfdcvxcvxcvxv
// 33333ffff


export default class Muma  extends Vue{
 


}


</script>
